@import "tailwindcss";

@theme {
  --color-primary: #0047bb;
  --color-secondary: #2972d5;
  --color-accent: #e4162a;
}

@layer base {
  body {
    font-family: var(--font-roboto), Roboto, sans-serif;
    background-color: #f5f5f5;
    color: #171717;
  }

  input[type="text"],
  textarea {
    color: #171717;
  }

  input::placeholder,
  textarea::placeholder {
    color: #6b7280;
  }
}